body {
    font-family: Helvetica, sans-serif;
    color: #424242;
    background: #e9e9e9;
    text-align: center;
    padding-left: 18rem;
    padding-right: 18rem;
}

nav {
    margin: 40px auto 0 auto;
    width: 250px;
    border-radius: 50px;
    background: #212431;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 9em;
    letter-spacing: -1px;
}

h2 {
    font-size: 4em;
}

h1 strong {
    font-weight: 800;
}

img.about {
    opacity: 0.5;
}

.header {
    display: flex;
    justify-content: left;
}

p {
    font-size: 1.2em;
}

li {
    font-size: 1.2em;
}

.hero {
    background: url("/images/polaroid.png") no-repeat center 100px;
    margin: 0 auto;
    width: 1000px;
    min-height: 1000px;
}

li .qr{
    list-style-image: url('qr.svg') no-repeat center left;
    list-style: none;
}

li .cloud{
    background: url('cloud.svg') no-repeat center left;
}

li .wifi{
    background: url('wifi.svg') no-repeat center left;
}

li .photos{
    background: url('photo.svg') no-repeat center left;
}
